---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class="flex items-center justify-center h-screen">
    <h1 class="text-white text-4xl font-bold fade-in">
      Welcome to Mon Portail
    </h1>
  </main>
</Layout>